/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden; /* Prevent scrolling on the entire page */
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    width: 100%;
    flex: 0 0 auto;
}

main {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: hidden; /* Prevent scrolling on the main section */
}

#roomsList {
    width: 80%;
    max-width: 600px;
    height: 300px; /* Set a fixed height */
    overflow-y: auto; /* Enable vertical scrolling */
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

footer {
    background-color: #444;
    color: white;
    padding: 20px;
    width: 100%;
    flex: 0 0 auto;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin: 1rem 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #555;
}

.room-link {
    text-decoration: none;
    color: inherit;
}

.room {
    background-color: white;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.room h2 {
    margin: 0 0 0.5rem 0;
}

.room p {
    margin: 0;
    color: #666;
}
